*{
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'SF Pro Display', 'SF Pro Text', system-ui, sans-serif;

}
body{
    color: aliceblue;
    background-color: black;

}
.light-mode{
    background-color: rgb(36, 53, 81);
    color: black;
}
.light-mode nav,
.light-mode .botbars,
.light-mode .day-forecast,
.light-mode .hour-forecast,
.light-mode .search-bar,
.light-mode .search-bar::placeholder{
    background-color: white;
    color: black;
}
.light-mode .dailyBox,
.light-mode .hourBox{ 
    background-color: rgba(130, 122, 122, 0.85);
}
.light-mode .City-forecast,
.light-mode .City-weather{
    background-color: rgb(181, 179, 179);
}
.light-mode .weather-box{
    background-color: white;
}
.light-mode .weather-box,
.light-mode .hour-forecast,
.light-mode .day-forecast{
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.85);

}

nav{
    background-color: black;
    padding: 10px;
    position: sticky;
    z-index: 1000;
    top: 0;
}
.navbar{
    display: flex;
    justify-content: center;
    
}
.logo{

    display: flex;
    gap: 3px;
    font-weight: 500;
}
.logo i{
    margin-top: 7px;
    font-size: 10px;
    color: rgb(11, 109, 208);
}
.botbar{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9999;
}
.botbars{   
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    color: aliceblue;
}
.icons-bar{
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
}
.tooltip{
    font-size: 10px;
    opacity: -1;
    transition: 0.5s ease;

}
.icons-bar:hover .tooltip{
    opacity: 1;
    transform: scale(1.5);
}

.Contents{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1px;    
    gap: 1px;
}


.City-weather{
    background-color: rgba(20, 20, 20, 0.85);
    flex: 1 1;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}
.searchbar{
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
}
.search-bar{
    width: auto;
    min-width: 335px;
    max-width: 950px;
    flex: 1 1;
    border-radius: 10px;
    background-color: rgb(74, 73, 73);
    border: 1px solid rgb(0, 0, 0);
    padding: 5px 5px;
    color: aliceblue;
}

.search-bar::placeholder{   
    color: aliceblue;

    position: relative;
    left: 10px;
}
.weather-box{
    background-color: black;
    border: 1px solid transparent;
    margin: 10px;
    border-radius: 12px;
    height: 480px;
    box-shadow: 0px 5px 20px rgba(72, 69, 69, 0.85);

}
.temp-city{
    display: flex;
    flex-direction: column;
    margin-left: 50px;

}
.temp{
    font-size: 40px;
    font-weight: 500;
}
.weather-status{
    text-align: left;
    margin: 0 50px;
    width: 100px;
    margin-top: 30px;

}
.weather-status img{
    width: 100px;
    height: 100px;
    box-shadow: 0 5px 15px rgb(45, 44, 44);
    border-radius: 12px;


}
.info{
    font-size: 14px;
    margin-top: 10px;
    margin-left: 50px;
}

.info-parent{
    margin: 0 40px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 5px;
}
.info-child{
    flex: 1 1;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 12px;
}
.AI{
    border-radius: 12px;
    margin-left: 50px;

  
    
}
.AItitle{
    font-size: 12px;
    font-weight: 800;
    margin-bottom: 10px;
}

.AI-text{
    font-size: 10px;
    margin: 0 10px;

}










.City-forecast{
    background-color: rgba(20, 20, 20, 0.85);
    flex: 1 1 auto;
    padding-bottom: 50px;

}
.City-forecast-content{
    margin: 10px;
    display: flex;
}
.day-forecast{
     margin: 10px;
     background-color: rgb(0, 0, 0);
    border-radius: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 1px 10px rgba(72, 69, 69, 0.85);

}
.title{
    margin-left: 20px;
}
.daily-forecast{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
.dailyBox{
    border: 1px solid aliceblue;
    border-radius: 12px;
    padding: 10px;
    width: 80px;
    text-align: center;
    box-shadow: 0 4px 10px rgb(54, 53, 53);
    transition: 0.5s ease;
}
.dailyBox:hover{
    transform: translateY(-4px);
    background-color: rgb(126, 129, 132);
    box-shadow: 0 6px 20px rgb(255, 255, 255, 0.1);
    color: black;
    
}
.dailyBox img{
    width: 30px;
}

.hour-forecast{
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 12px;
    box-shadow: 0px 1px 10px rgba(72, 69, 69, 0.85);

}
.hourly-forecast{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1px;
}
.hourBox{
    flex: 1 1 200px;
    border: 1px solid aliceblue;
    border-radius: 12px;
    padding: 10px;
    width: 80%;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgb(54, 53, 53);
    transition: 0.5s ease;
    

}
.hourBox:hover{
      transform: translateY(-4px);
      background-color: rgb(126, 129, 132);
      box-shadow: 0 6px 20px rgb(255, 255, 255, 0.1);
      color: black;
}
.hourBox img{
    width: 50px;
}