
.CLoudBot{
    position: fixed;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(130, 122, 122, 0.85);
    background: linear-gradient(90deg, #000000, #1a1a1a);
    right: 0;
    bottom: 0;
    margin-bottom: 100px;
    z-index: 999;
    width: 150px;
    padding: 20px;
    border-top-left-radius: 12px;
    box-shadow: 0 2px 10px rgb(126, 129, 132);
    display: flex;
    transition: 0.4s ease;
    cursor: pointer;
}
.CLoudBot:hover{
    transform: scale(1.05);

}
.CLoudBot i{
    margin-left: 10px;
    margin-top: 3px;
}

.CLoudBot-content{
    position: fixed;
    flex-wrap: wrap;
    flex: 1 1 auto;
    right: -300px;
    z-index: 1000;
    background:  linear-gradient(90deg, #000000, #1a1a1a);
    height: 80%;
    width: 300px;
    text-align: center;
    transition: 0.5s ease-in-out;
    overflow-y: auto;
    overflow-x: hidden;
}
@media(min-height: 600px){
    .CLoudBot-content{
         height: 95%;
    }
    
}
.CLoudBot-content.active{
    right: 0;
}


.CLoudBot-title-exit{
    position: sticky;
    display: flex;
    gap: 160px;
    margin-left: 10px;
    top: 10px;
    z-index: 1000;
}
.CLoudBottitle{
    display: flex;
    gap: 5px;
}
.CLoudBottitle i{
    margin-top: 4px;

}
.CLoudBot-title i{
    margin-top: 4px;
}
.CLoudBotchats{
    position: fixed;
    right: 0;
    bottom: 12%;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    padding: 10px;
    z-index: 1000;
}
.CLoudBot-chatlog{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 70px 0 -70px 20px;

}
.CLoudBotresponses{
    display: flex;
    gap: 10px;
}
.CLoudBotresponses i{
    margin-top: 11px;

}
.CLoudBotresponses p{
    font-size: 12px;
    padding: 10px;
    background-color: aliceblue;
    color: #000000;
    border-radius: 12px;
}

.userMessage{
    display: flex;
    gap: 10px;
    position: relative;
    right: 0;
}

.userMessage i{
    margin-top: 11px;
}

.userMessage p{
    font-size: 12;
    padding: 10px;
    background-color: rgba(25, 40, 205, 0.85);
    color: #000000;
    border-radius: 12px;
}