
.CLoudBot{
    position: fixed;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(130, 122, 122, 0.85);
    background: linear-gradient(90deg, #000000, #1a1a1a);
    right: 0;
    bottom: 0;
    margin-bottom: 100px;
    z-index: 999;
    width: 150px;
    padding: 20px;
    border-top-left-radius: 12px;
    box-shadow: 0 2px 10px rgb(126, 129, 132);
    display: flex;
    transition: 0.4s ease;
    cursor: pointer;
}
.CLoudBot:hover{
    transform: scale(1.05);

}
.CLoudBot i{
    margin-left: 10px;
    margin-top: 3px;
}

.CLoudBot-content{
    position: fixed;
    flex-wrap: wrap;
    flex: 1 1 auto;
    right: -500px;
    z-index: 9999;
    background:  linear-gradient(90deg, #000000, #1a1a1a);
    height: 100%;
    width: 350px;
    text-align: center;
    transition: 0.5s ease-in-out;
    overflow-y: auto;
    overflow-x: hidden;
    color: aliceblue;
}

.CLoudBot-content.active{
    right: 0;
}


.CLoudBot-title-exit{
    position: sticky;
    display: flex;
    margin: 0 10px;
    justify-content: space-between;
    margin-left: 10px;
    top: 10px;
    z-index: 1000;
}
.CLoudBottitle{
    display: flex;
    gap: 5px;
}
.CLoudBottitle i{
    margin-top: 4px;

}
.CLoudBot-title i{
    margin-top: 4px;
}
.CLoudBotchats{
    position: fixed;
    display: flex;
    right: -500px;
    bottom: 0;
    background-color: rgb(2, 2, 2);
    color: aliceblue;
    z-index: 10000;
    transition: 0.5s ease-in-out all;
    width: 330px;
    padding: 10px;
    justify-content: space-between;
}
.CLoudBotchats.toggle{
    right: 0;
}
select{
    border-radius: 12px;
    background:  linear-gradient(90deg, #575555, rgb(208, 204, 204));
    border: 1px solid white;
    padding: 5px;
    width: 280px;
}
.send-btn{
    background:  linear-gradient(90deg, #575555, rgb(208, 204, 204));
    border: 1px solid white;
    border-radius: 12px;
    padding: 10px;
}
.CLoudBot-chatlog{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 70px 0 -40px 20px;
    margin-bottom: 100px;

}
.CLoudBotresponses{
    display: flex;
    gap: 10px;
}
.CLoudBotresponses i{
    margin-top: 11px;

}
.CLoudBotresponses p{
    font-size: 12px;
    padding: 10px;
    background-color: aliceblue;
    color: #000000;
    border-radius: 12px;
    margin-right: 20px;
}

.userMessage{
    display: flex;
    gap: 10px;
    position: relative;
    margin-left: 110px;
}

.userMessage i{
    margin-top: 11px;
    margin-right: 12px;
}

.userMessage p{
    font-size: 12;
    padding: 10px;
    background-color: aliceblue;
    color: #000000;
    border-radius: 12px;
}

@media(max-width: 480px){
    .CLoudBot-content{
        width: 300px;
    }
    .CLoudBotchats{
        width: 280px;
    }
    select{
        width: 220px;
    }
    .CLoudBot-chatlog{
        margin: 20px 0 -20px 10px;
    }
    
}

@media(min-height: 600px){
    .CLoudBot-content{
         height: 95%;
    }
}